footer {
	background-color: var(--bg-alt);
	display: flex;
	flex: 1;
	position: relative;
	z-index: 2;
	justify-content: space-around;
	padding: 1rem;
}

footer div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer div div {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	font-size: 1rem;
	align-items: center;
}

.icon {
	font-size: 1rem;
}

h3 {
	margin: 0;
	text-decoration: underline;
}

footer div a {
	text-decoration: none;
	color: var(--fg-alt);
}

footer div a:hover {
	color: var(--fg);
}
