header {
	background-color: var(--bg-alt);
	color: var(--fg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.5rem;
	z-index: 3;
	position: relative;
}

h1 {
	padding: 0;
	margin: 0;
	align-self: center;
}

.header-button,
svg {
	font-size: 2.5rem;
	align-self: center;
}

.header-button-icon {
	align-self: center;
	justify-self: center;
	text-align: center;
}

.header-button:hover {
	color: var(--fg-alt);
	cursor: pointer;
}
